<header class="page-header inner">
<<<<<<< HEAD
  <div class="container animate-up">
    <a href="/" class="back">
      <img src="/images/back.svg" alt="" />
    </a>
    <h1>
      <%= title %>
    </h1>
  </div>
</header>
  
=======
    <div class="container animate-up">
      <a href="/index" class="back">
        <img src="/images/back.svg" alt="" />
      </a>
      <h1><%= title %> </h1>
    </div>
  </header>

  
>>>>>>> 92a08ce85f950dae4764abccabf9fd14a3634d66
